@font-face {
    src: url('../fonts/Inconsolata-Regular.ttf');
}

.root {
    -fx-font: 14px "Segoe UI";
}

/* Text Areas */

ComposeArea, .text-area {
    /*-fx-font: 15px "Inconsolata";*/
    -fx-padding: 0px 0px 0px 4px;
    -fx-border-style: none solid solid solid;
}

/* Text */

ParagraphText {
    -fx-tab-size: 4px;
}

/* Tabs */

.tab {
    -fx-border-style: solid solid none solid;
    -fx-background-radius: .25em .25em 0 0;
    -fx-border-radius: .25em .25em 0 0;
    -fx-border-insets: 0 1 0 0;
}

.tab-pane .tab-header-area {
    -fx-border-style: none none solid none;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

/* Text Line Numbers */

.lineno {
    -fx-font-style: normal;
    -fx-padding: 0 15 0 5;
    -fx-translate-x: -5;
}

.lineno-rect {
    -fx-fit-to-height: true;
}

/* Menus */

.menu-bar {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;

    -fx-padding: 0;
}

.menu .context-menu {
    -fx-padding: 1;
    -fx-border-width: 1;
}

/* Scrolling */

.virtualized-scroll-pane {
    /*-fx-font: 15px "Inconsolata";*/
    -fx-padding: 0 10 0 10;
}

.scroll-bar:vertical {
    -fx-pref-width: 18;
    -fx-padding: 0;
}

.scroll-bar:horizontal {
    -fx-pref-height: 18;
    -fx-padding: 0;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-background-radius: 0em;
    -fx-padding: 10 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
    -fx-border-insets: 0;
}
