.root {
    -fx-base: #001c30;
    -fx-accent: #00304d;

    -fx-focus-color: #003b6a;
    -fx-faint-focus-color: #004275;

    -fx-default-button: #002742;
}

/* Tabs */

.tab {
    -fx-background-color: -fx-accent;
}

.tab:selected {
    -fx-background-color: #004275;
}

.tab:hover {
    -fx-background-color: #003b6a;
}

.tab:selected:hover {
    -fx-background-color: #004275;
}

.tab-header-background {
    -fx-background-color: -fx-base;
}

/* Text Fields */
.text-field {
    -fx-background-color: derive(-fx-base, 10%);
    -fx-text-fill: #f7fafa;
}

/* Text Areas */

ComposeArea, .text-area .content {
    -fx-background-color: derive(-fx-base, 10%);
}

ComposeArea .text {
    -fx-fill: #f7fafa;
}

ComposeArea .caret {
    -fx-stroke: #f7fafa;
}

.text-area {
    -fx-text-fill: #f7fafa;
}

/* Text Line Numbers */

.lineno, .lineno-rect {
    -fx-fill: #001c30;
    -fx-background-color: #001c30;
    -fx-text-fill: #f7fafa;
}

/* Dialogs */

.dialog-pane {
    -fx-background-color: -fx-base;
}

/* Menus */

.menu-bar {
    -fx-background-color: -fx-base;
    -fx-border-color: -fx-base;
}

.menu-bar .menu {
    -fx-background-color: -fx-base;
}

.menu-bar .menu:hover {
    -fx-background-color: -fx-accent;
}

.menu-item, .menu-button, .menu-bar .menu .menu {
    -fx-background-color: -fx-accent;
}

.menu-item:hover, .menu-button:hover, .menu-bar .menu .menu:hover {
    -fx-background-color: -fx-faint-focus-color;
}

.menu .label {
    -fx-text-fill: #f7fafa;
}

/* Combo Boxes */

.combo-box .list-view .list-cell {
    -fx-background-color: #001c30;
    -fx-text-fill: #f7fafa;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #00304d;
}

/* Scrolling */

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-default-button;
    -fx-border-style: none;
}

.scroll-bar .thumb:hover, .scroll-bar .thumb:pressed {
    -fx-background-color: -fx-focus-color;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}
